Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

radon:
  name: radon (コード複雑度チェック)
  entry: uv run radon
  language: system
  args:
  - cc
  - -s
  - --total-average

interrogate:
  name: interrogate (docstringカバレッジ)
  entry: uv run interrogate
  language: system
  args:
  - --config=pyproject.toml

safety:
  name: safety (依存関係脆弱性チェック)
  entry: bash -c 'uv run safety check'
  language: system
  pass_filenames: false

docs: CLAUDE.mdの主要機能リストに type: ignore 診断機能を追加
  CLAUDE.md
Due: none

refactor: type: ignoreコメントを削除して型安全性を向上
  docs/features/diagnose-type-ignore.md
  src/core/analyzer/models.py
  src/core/analyzer/type_classifier.py
Due: radon, interrogate

fix: matching_errorsのフィルタリングにファイルパスとseverity条件を追加
  src/core/analyzer/type_ignore_analyzer.py
Due: radon, interrogate

fix: Path.relative_to()のValueError例外処理を追加
  src/core/analyzer/type_ignore_reporter.py
Due: radon, interrogate

fix: uvが存在しない場合にmypyを直接呼び出すフォールバック処理を追加
  src/core/analyzer/type_ignore_analyzer.py
Due: radon, interrogate

fix: プロジェクト解析時の除外パターンを実装してpyproject.toml設定を反映
  src/core/analyzer/type_ignore_analyzer.py
Due: radon, interrogate

fix: PR #43 レビュー指摘事項の修正
  src/core/analyzer/type_ignore_analyzer.py
  src/core/analyzer/type_ignore_reporter.py
Due: radon, interrogate

Issue #36: 型無視（type: ignore）の原因行特定機能の実装 (#43)
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
  docs/features/diagnose-type-ignore.md
  src/cli/commands/diagnose_type_ignore.py
  src/cli/main.py
  src/core/analyzer/models.py
  src/core/analyzer/type_classifier.py
  src/core/analyzer/type_ignore_analyzer.py
  src/core/analyzer/type_ignore_reporter.py
Due: radon, interrogate

feat: CLI出力の項目名を英語に統一
  src/cli/commands/analyze_types.py
  src/cli/commands/project_analyze.py
  src/core/analyzer/type_reporter.py
  tests/test_issues_analyzer.py
Due: radon, interrogate

fix: CIエラーを修正
  tests/test_issues_analyzer.py
  tests/test_project_analyze.py
Due: radon

fix: analyze_issues.pyの出力文字列を英語に統一
  src/cli/analyze_issues.py
  tests/test_issues_analyzer.py
Due: radon, interrogate

feat: CLI出力の項目名を英語に統一 (#44)
  src/cli/analyze_issues.py
  src/cli/commands/analyze_types.py
  src/cli/commands/project_analyze.py
  src/core/analyzer/type_reporter.py
  tests/test_issues_analyzer.py
  tests/test_project_analyze.py
Due: radon, interrogate

リリース準備: バージョン0.3.0とCHANGELOG更新
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: safety

feat: git tagメッセージをCHANGELOGと自動連携
  AGENTS.md
  Makefile
Due: none

feat: Issue #45 型品質チェック機能の実装
  pyproject.toml
  src/cli/commands/check_quality.py
  src/cli/main.py
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_models.py
  src/core/analyzer/quality_reporter.py
  src/core/analyzer/type_reporter.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate, safety

refactor: コマンド名を check-quality から quality に変更
  src/cli/commands/quality.py
  src/cli/main.py
Due: radon, interrogate

feat: Pydantic提供の型を優先的に推奨する機能を追加
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

refactor: 汎用変数名の除外パターン追加でfalse positive削減
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

refactor: 判定不可能なprimitive型の推奨メッセージを簡潔化
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

refactor: 改善プランメッセージから絵文字を削除
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

feat: primitive型使用を傾向別にグルーピング表示
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_models.py
  src/core/analyzer/quality_reporter.py
Due: radon, interrogate

refactor: カウントとスコアフィールドに適切な制約を追加
  src/core/analyzer/quality_models.py
  src/core/analyzer/type_ignore_analyzer.py
  src/core/analyzer/type_level_models.py
Due: radon, interrogate

docs: 型定義方針をNewType + Annotatedパターンに更新
  AGENTS.md
  CLAUDE.md
  docs/typing-rule.md
Due: none

docs: Cursor rules の型定義方針を NewType + Annotated に更新
  .cursor/rules/python-type-annotations.mdc
Due: none

docs: 品質チェック機能の包括的なドキュメントを追加
  docs/features/quality-check.md
Due: none

refactor: 型定義をNewType + Annotatedパターンに統一
  mypy.ini
  pyrightconfig.json
  src/core/analyzer/code_locator.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_reporter.py
  src/core/analyzer/type_upgrade_analyzer.py
  src/core/analyzer/types.py
  src/core/converters/types.py
  src/core/doc_generators/types.py
  src/core/schemas/types.py
Due: radon, interrogate

fix: evalのサンドボックス評価でコードインジェクション脆弱性を修正
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

fix: ファイル指定時のpyproject.toml検索バグを修正
  src/cli/commands/quality.py
Due: radon, interrogate

fix: 未定義メソッド呼び出しをQualityReporterに委譲
  src/core/analyzer/type_reporter.py
Due: radon, interrogate

fix: 型付き定数SEVERITIESで型チェックエラーを解消
  src/core/analyzer/quality_reporter.py
Due: radon, interrogate

fix: 深刻度しきい値のデフォルト設定を修正
  src/core/schemas/pylay_config.py
Due: radon, interrogate

fix: dataclass例をPydantic検証対応に修正
  .cursor/rules/python-type-annotations.mdc
Due: none

docs: typing-rule.mdのLevel 2ガイドラインをNewTypeパターンに統一
  docs/typing-rule.md
Due: none

fix: カスタムエラー条件の深刻度を自動計算に委譲
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

fix: documentation変数を条件式評価環境に追加
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

fix: exit()をsys.exit()に置き換えてCLI対応に修正
  src/cli/commands/quality.py
Due: radon, interrogate

fix: mypy strict設定を維持し局所的にtype: ignoreを追加
  mypy.ini
  src/core/analyzer/models.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/types.py
  src/core/converters/types.py
  src/core/doc_generators/config.py
  src/core/doc_generators/types.py
  src/core/schemas/graph.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate

fix: 単一ファイル解析時のCodeLocatorスコープを修正
  src/cli/commands/quality.py
Due: radon, interrogate

refactor: PositiveIntとNonNegativeIntをsrc/core/schemas/types.pyに集約
  src/core/analyzer/types.py
  src/core/converters/types.py
  src/core/doc_generators/types.py
  src/core/schemas/types.py
Due: radon, interrogate

Path conditions:
  radon: any of: \.py$
  interrogate: any of: ^src/.*\.py$
  safety: any of: ^(pyproject\.toml|uv\.lock)$
