Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

.pre-commit-config.yaml:

repos:
  # Ruff (高速なPythonリンター)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      # Ruff のリンター実行
      - id: ruff
        args: [--fix]
      # Ruff のフォーマッター実行
      - id: ruff-format

  # mypy (型チェック)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml, pydantic>=2.8.2, pyyaml>=6.0.2, ruamel-yaml>=0.18.6, networkx>=3.3, click>=8.3.0, matplotlib>=3.10.6]
        args: [--config-file=mypy.ini]

  # コードメトリクス（複雑度、保守性）
  - repo: local
    hooks:
      - id: radon
        name: radon (コード複雑度チェック)
        entry: uv run radon
        language: system
        files: \.py$
        args: [cc, -s, --total-average]

  # docstring カバレッジチェック
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate (docstringカバレッジ)
        entry: uv run interrogate
        language: system
        files: ^src/.*\.py$
        args: [--config=pyproject.toml]

  # 依存関係のセキュリティチェック
  # 注: このフックは厳格なCI環境（GitHub Actions等）で実行されるため、
  #     pre-commitフックでは警告のみ表示し、CIで必ず検証します。
  #     CI設定: .github/workflows/ci.yml の safety-check ジョブ
  - repo: local
    hooks:
      - id: safety
        name: safety (依存関係脆弱性チェック)
        entry: bash -c 'uv run safety check'
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

  # コード重複チェック
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

refactor: 列位置情報を動的に取得するように改善
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

refactor: 未使用のreport引数を_reportにリネーム
  src/core/analyzer/quality_reporter.py
Due: radon, interrogate

refactor: SeverityName型エイリアスを導入し重複を削除
  src/core/analyzer/quality_models.py
Due: radon, interrogate

refactor: 変数名抽出の失敗時にデフォルト値"value"を使用
  src/core/analyzer/quality_checker.py
  tests/test_cli_quality.py
  tests/test_quality_checker.py
Due: radon, interrogate

docs: Markdownの見出しスタイルを修正し、コードブロック前に空行を追加
  docs/features/quality-check.md
Due: none

docs: コードブロックに言語識別子（text）を追加
  docs/features/quality-check.md
Due: none

refactor: UI項目名とseverity値を英語化（日本語→英語）
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_models.py
  src/core/analyzer/quality_reporter.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate

docs: UI/UXガイドラインを全面刷新（英語項目名、絵文字禁止）
  docs/ui-guidelines.md
Due: none

refactor: CLIコマンド(quality)から絵文字を削除
  src/cli/commands/quality.py
Due: radon, interrogate

fix: test_cli_qualityのインポートエラーとテスト修正
  tests/test_cli_quality.py
Due: radon

fix: test_quality_checkerのメソッド呼び出しエラーを修正
  tests/test_quality_checker.py
Due: radon

feat: input/outputファイルパスの型推奨を区別
  src/core/analyzer/improvement_templates.py
Due: radon, interrogate

fix: 深刻度判定ロジックの逆転バグを修正
  Makefile
  pyrightconfig.json
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_reporter.py
  src/core/schemas/pylay_config.py
  tests/test_quality_checker.py
Due: radon, interrogate

feat: pylay qualityコマンドでpyproject.tomlのtarget_dirsを自動参照
  Makefile
  src/cli/commands/quality.py
Due: radon, interrogate

refactor: 全CLIコマンドで設定ファイルとターゲット処理を共通化
  src/cli/commands/project_analyze.py
  src/cli/commands/quality.py
  src/cli/utils.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate

docs: Level 2型定義をPEP 484準拠パターンに変更（NewType + ファクトリ関数）
  AGENTS.md
  CLAUDE.md
  docs/typing-rule.md
Due: none

docs: PEP 484準拠型定義への段階的移行計画を追加
  MIGRATION_PLAN.md
  tests/test_quality_checker.py
Due: radon

feat: PEP 484準拠のLevel 2型定義パターンの検出機能を実装
  pyproject.toml
  src/core/analyzer/code_locator.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/type_classifier.py
Due: radon, interrogate, safety

fix: NewType定義の検出ロジック修正とファクトリ関数パターンの改善
  src/core/analyzer/type_classifier.py
Due: radon, interrogate

test: NewType + ファクトリ関数パターンの包括的なテストケースを追加
  tests/test_newtype_edge_cases.py
  tests/test_newtype_pattern_detection.py
Due: radon

test: 設定ファイル整合性テストを追加
  tests/test_config_integrity.py
Due: radon

docs: MIGRATION_PLAN.mdの進捗状況を更新（Phase 1-3完了）
  MIGRATION_PLAN.md
Due: none

docs: 型定義検出ロジックのルールドキュメントを追加
  docs/type-detection-rules.md
Due: none

fix: 深刻度判定ロジックを修正し、型定義ルールを更新
  .cursor/rules/python-type-annotations.mdc
  src/cli/commands/quality.py
  src/core/analyzer/quality_checker.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate

fix: YAMLエクスポートから改善計画を除外
  src/cli/commands/quality.py
  src/core/analyzer/quality_reporter.py
Due: radon, interrogate

refactor: --export-detailsオプションを削除
  src/cli/commands/quality.py
Due: radon, interrogate

feat: 品質チェック結果のフィルタ機能を追加
  MIGRATION_PLAN.md
  src/cli/commands/quality.py
Due: radon, interrogate

test: フィルタ機能のテストを追加
  tests/test_cli_quality.py
Due: radon

docs: MIGRATION_PLAN.mdのフィルタ機能実装状況を更新
  MIGRATION_PLAN.md
Due: none

fix: 行の長さ制限を修正
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_reporter.py
Due: radon, interrogate

style: ruff-formatによる自動フォーマット
  src/cli/commands/quality.py
  src/core/analyzer/quality_reporter.py
  tests/test_cli_quality.py
Due: radon, interrogate

feat: 問題の優先度付け、ソート、修正チェックリスト機能を追加
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_models.py
  src/core/analyzer/quality_reporter.py
Due: radon, interrogate

test: Phase 4完了 - 優先度付け、影響度、難易度、チェックリスト機能の包括的テストを追加
  tests/test_quality_checker.py
Due: radon

docs: MIGRATION_PLAN.mdに品質チェック機能拡張（issue #45）の完了を記録
  MIGRATION_PLAN.md
Due: none

fix: pyright設定を緩和してCI/CDを通過可能に
  pyrightconfig.json
Due: none

refactor: Union/Generic記法をPython 3.13標準構文に更新
  .cursor/rules/python-type-annotations.mdc
Due: none

docs: NewType使用推奨からtype+Annotated推奨に型定義ガイドラインを修正
  .cursor/rules/python-type-annotations.mdc
Due: none

revert: NewType+ファクトリ関数パターンを正式推奨パターンとして復元
  .cursor/rules/python-type-annotations.mdc
Due: none

docs: Level 2型定義の記述をNewType+ファクトリ関数に完全統一
  .cursor/rules/python-type-annotations.mdc
Due: none

fix: pyrightの重要な診断設定をerrorに復元し厳密な型チェックを有効化
  pyrightconfig.json
Due: none
