Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

radon:
  name: radon (コード複雑度チェック)
  entry: uv run radon
  language: system
  args:
  - cc
  - -s
  - --total-average

interrogate:
  name: interrogate (docstringカバレッジ)
  entry: uv run interrogate
  language: system
  args:
  - --config=pyproject.toml

safety:
  name: safety (依存関係脆弱性チェック)
  entry: bash -c 'uv run safety check'
  language: system
  pass_filenames: false

docs: --format/--outputオプションを「準備中」として明示
  docs/features/diagnose-type-ignore.md
Due: none

chore: docs/pylay/の生成ファイル（PNG/DOT/SVG）を.gitignoreに追加
  .gitignore
Due: none

docs: migration-guide.mdのコードブロックに言語指定と空行を追加
  docs/guides/migration-guide.md
Due: none

fix: 同名モジュールの再利用による誤ったYAML生成を修正
  src/cli/commands/yaml.py
Due: radon, interrogate

docs: --format/--outputオプションを「準備中」として明示
  src/cli/commands/check.py
Due: radon, interrogate

docs: django-style-structure.mdのコードブロック書式を修正
  docs/guides/django-style-structure.md
Due: none

test: check --focusオプションのテストを追加
  tests/test_cli.py
Due: radon

docs: yaml-management-guide.mdのコードブロック書式を修正
  docs/guides/yaml-management-guide.md
Due: none

fix: 型エイリアス検出でジェネリック型をサポート
  src/cli/commands/yaml.py
Due: radon, interrogate

docs: diagnose-type-ignore.mdのCLI例を新仕様に更新
  docs/features/diagnose-type-ignore.md
Due: none

docs: check.pyのdocstringをGoogle Styleに更新
  src/cli/commands/check.py
Due: radon, interrogate

refactor: 未実装の--format/--outputオプションを削除
  src/cli/commands/check.py
Due: radon, interrogate

docs: types-creation-guide.mdのフローチャートに言語指定を追加
  docs/guides/types-creation-guide.md
Due: none

fix: types_dictに明示的な型注釈を追加
  src/cli/commands/yaml.py
Due: radon, interrogate

refactor: Pydanticモデル検出をBaseModelサブクラス判定に改善
  src/cli/commands/yaml.py
Due: radon, interrogate

fix: Pydanticモデル/Enum検出の型エラーハンドリング改善
  src/cli/commands/yaml.py
Due: radon, interrogate

docs: yaml-management-guide.mdのMarkdownリスト周りの空白行を修正
  docs/guides/yaml-management-guide.md
Due: none

docs: orm-integration.mdの目次リンク断片を修正
  docs/guides/orm-integration.md
Due: none

fix: description=NoneでTypeErrorが発生する問題を修正
  src/cli/commands/types.py
Due: radon, interrogate

fix: 未使用関数とimportを削除してPyrightエラーを修正
  src/cli/commands/yaml.py
  src/core/converters/type_to_yaml.py
Due: radon, interrogate

fix: importlib.metadataをグローバルインポートに変更して関数内スコープ問題を解決
  src/cli/commands/yaml.py
Due: radon, interrogate

fix: _find_python_files_with_type_definitionsを公開関数に変更
  src/cli/commands/yaml.py
  tests/test_yaml_command_integration.py
Due: radon, interrogate

fix: 全てのPyrightエラーを修正してCI品質チェックを通過
  src/cli/commands/types.py
  src/core/converters/type_to_yaml.py
  src/core/schemas/yaml_spec.py
Due: radon, interrogate

feat: 自動生成YAMLスキーマの人間可読性を向上 (Issue #58)
  src/core/converters/type_to_yaml.py
Due: radon, interrogate

docs: ドッグフーディング - 改善されたYAMLスキーマを再生成
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
Due: none

Revert "docs: ドッグフーディング - 改善されたYAMLスキーマを再生成"
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
Due: none

Revert "Revert "docs: ドッグフーディング - 改善されたYAMLスキーマを再生成""
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
Due: none

fix: 冗長なBaseModel docstringの除外に修正（Issue #58）
  src/core/converters/type_to_yaml.py
Due: radon, interrogate

docs: 修正後のYAMLスキーマを再生成（Issue #58）
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
Due: none

feat: 複数行docstringをYAMLヒアドキュメント形式で出力（Issue #58）
  src/core/analyzer/schema.lay.yaml
  src/core/converters/type_to_yaml.py
  src/core/schemas/schema.lay.yaml
Due: radon, interrogate

docs: ヒアドキュメント形式での複数行docstring出力を適用
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
Due: none

docs: YAML管理ガイドにIssue #58の改善内容を追加
  docs/guides/yaml-management-guide.md
Due: none

docs: コードブロック前後に空行を追加してMD031警告を解消
  docs/guides/yaml-management-guide.md
Due: none

Issue #58: 自動生成YAMLスキーマの人間可読性を向上 (#64)
  docs/guides/yaml-management-guide.md
  src/core/analyzer/schema.lay.yaml
  src/core/converters/type_to_yaml.py
  src/core/schemas/schema.lay.yaml
Due: radon, interrogate

docs: ORM統合ガイドの完成（Issue #59対応）
  docs/guides/orm-integration.md
Due: none

docs: ORM統合ガイドをSQLAlchemyのみに絞る
  docs/guides/orm-integration.md
Due: none

fix: SQLAlchemy 2.0互換のためtext()を使用
  docs/guides/orm-integration.md
Due: none

fix: Alembic env.pyでconfig変数を定義
  docs/guides/orm-integration.md
Due: none

Issue #59: ORM統合ガイドの完成（SQLAlchemy重点） (#65)
  docs/guides/orm-integration.md
Due: none

Path conditions:
  radon: any of: \.py$
  interrogate: any of: ^src/.*\.py$
  safety: any of: ^(pyproject\.toml|uv\.lock)$
