Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

.pre-commit-config.yaml:

repos:
  # Ruff (高速なPythonリンター)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      # Ruff のリンター実行
      - id: ruff
        args: [--fix]
      # Ruff のフォーマッター実行
      - id: ruff-format

  # mypy (型チェック)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml, pydantic>=2.8.2, pyyaml>=6.0.2, ruamel-yaml>=0.18.6, networkx>=3.3, click>=8.3.0, matplotlib>=3.10.6]
        args: [--config-file=mypy.ini]

  # コードメトリクス（複雑度、保守性）
  - repo: local
    hooks:
      - id: radon
        name: radon (コード複雑度チェック)
        entry: uv run radon
        language: system
        files: \.py$
        args: [cc, -s, --total-average]

  # docstring カバレッジチェック
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate (docstringカバレッジ)
        entry: uv run interrogate
        language: system
        files: ^src/.*\.py$
        args: [--config=pyproject.toml]

  # 依存関係のセキュリティチェック
  # 注: このフックは厳格なCI環境（GitHub Actions等）で実行されるため、
  #     pre-commitフックでは警告のみ表示し、CIで必ず検証します。
  #     CI設定: .github/workflows/ci.yml の safety-check ジョブ
  - repo: local
    hooks:
      - id: safety
        name: safety (依存関係脆弱性チェック)
        entry: bash -c 'uv run safety check'
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

  # コード重複チェック
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

test: CLI単一ファイルモード向けの回帰テスト追加 (#77)
  .pre-commit-config.yaml
  tests/fixtures/dataclass.py
  tests/fixtures/empty.py
  tests/fixtures/invalid.py
  tests/fixtures/mixed_types.py
  tests/fixtures/newtype.py
  tests/fixtures/type_alias.py
  tests/test_cli_single_file.py
Due: radon

fix: Makefile と pyright 設定で invalid.py と .lay.py を除外
  Makefile
  pyrightconfig.json
Due: none

fix: pyrightconfig.json の除外パスをテストに反映
  tests/test_config_integrity.py
Due: radon

fix: process_data関数に型アノテーションを追加 (#82)
  tests/fixtures/empty.py
Due: radon

tests/fixtures/empty.pyのモジュールレベル変数valueとmessageに型アノテーションを追加（value: int, message: str）
  tests/fixtures/empty.py
Due: radon

tests/test_cli_single_file.py のインポート（yaml_to_spec、TypeRoot、各種Specクラス）をファイル先頭に移動し、各テストメソッド内の重複インポートを削除する
  tests/test_cli_single_file.py
Due: radon

capsysパラメータに型アノテーションpytest.CaptureFixture[str]を追加する
  tests/test_cli_single_file.py
Due: radon

__init__メソッドに-> Noneの戻り値型アノテーションを追加する
  tests/fixtures/empty.py
Due: radon

fix: interrogate-checkでinvalid.pyを除外
  Makefile
Due: none

fix: PR #82レビュー対応を完了
  tests/test_cli_single_file.py
Due: radon

test: CLI単一ファイルモード向けの回帰テスト追加 (#77) (#82)
  .pre-commit-config.yaml
  Makefile
  pyrightconfig.json
  tests/fixtures/dataclass.py
  tests/fixtures/empty.py
  tests/fixtures/invalid.py
  tests/fixtures/mixed_types.py
  tests/fixtures/newtype.py
  tests/fixtures/type_alias.py
  tests/test_cli_single_file.py
  tests/test_config_integrity.py
Due: radon

docs: ドキュメントと実装の整合性を修正
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  PRD.md
  docs/README.md
  docs/development/README.md
  docs/guides/lay-file-workflow.md
  docs/ui-guidelines.md
Due: none

chore: v0.5.1リリース準備
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: safety

build: Makefileでリリース時に.envを自動読み込み
  Makefile
Due: none

feat: 品質チェック設定の最適化とパフォーマンス改善
  pyproject.toml
  src/cli/commands/check.py
  src/core/analyzer/type_level_analyzer.py
  tests/test_config_integrity.py
Due: radon, interrogate, safety

refactor: type:ignore の削減（assignment エラー対応）
  src/core/analyzer/models.py
  src/core/analyzer/types.py
  src/core/converters/types.py
  src/core/doc_generators/config.py
  src/core/doc_generators/types.py
  src/core/schemas/graph.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate

refactor: type:ignore の追加削減（list-item, arg-type エラー対応）
  src/core/analyzer/factory_usage_checker.py
  src/core/analyzer/quality_checker.py
  src/core/doc_generators/yaml_doc_generator.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate

docs: type:ignore リファクタリングパターン集と機能拡張提案を追加
  docs/features/type-ignore-enhancements.md
  docs/refactoring-patterns.md
Due: none

docs: type:ignoreリファクタリングパターンを拡充（パターン3-4追加）
  docs/refactoring-patterns.md
  src/core/doc_generators/type_inspector.py
Due: radon, interrogate

fix: Windows環境でパス除外パターンが機能するようPOSIX形式に正規化
  src/core/analyzer/type_level_analyzer.py
Due: radon, interrogate

fix: TypeRoot互換オブジェクトの受け入れ処理を実装
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

style: 暗黙的な文字列連結を明示的なf-stringに変更
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

refactor: Pathフィールドのdefault_factoryを直接defaultに簡略化
  src/core/doc_generators/config.py
Due: radon, interrogate

style: improvement_planの暗黙的な文字列連結を明示的に統一
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

fix: CodeRabbitレビュー指摘事項の修正
  docs/refactoring-patterns.md
  src/cli/commands/check.py
  src/core/doc_generators/types.py
Due: radon, interrogate

fix: isinstance チェックをUnion型からタプルに変更
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

fix: 型ガードを追加してTypeSpec型を保証
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

refactor: 未使用パラメータreportを削除
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

refactor: 除外パターンチェックを相対パスのみに限定
  src/core/analyzer/type_level_analyzer.py
Due: radon, interrogate

refactor: CodeLocationの不要なhasattrチェックを削除
  src/core/analyzer/quality_checker.py
Due: radon, interrogate

refactor: generateメソッドの型注釈を正確化
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

refactor: 型チェックブロックを簡素化
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

refactor: 冗長な型チェックを削除
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

refactor: 冗長な clear() 呼び出しを削除
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

refactor: CodeLocationにデフォルト値を追加
  src/core/analyzer/code_locator.py
Due: radon, interrogate

style: 全角括弧を半角括弧に統一
  src/core/doc_generators/types.py
Due: radon, interrogate

fix: Annotated[int, Field(...)]をint = Field(...)に修正
  src/core/doc_generators/types.py
Due: radon, interrogate

fix: TypeSpec互換オブジェクトを明示的に拒否し、詳細なエラーメッセージを提供
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

feat: type-ignore診断の除外パターン対応と取得ロジック簡潔化
  src/cli/commands/check.py
  src/core/analyzer/type_ignore_analyzer.py
Due: radon, interrogate

style: 日本語コメント内の全角括弧を半角括弧に統一
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate
