Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

radon:
  name: radon (コード複雑度チェック)
  entry: uv run radon
  language: system
  args:
  - cc
  - -s
  - --total-average

interrogate:
  name: interrogate (docstringカバレッジ)
  entry: uv run interrogate
  language: system
  args:
  - --config=pyproject.toml

safety:
  name: safety (依存関係脆弱性チェック)
  entry: bash -c 'uv run safety check'
  language: system
  pass_filenames: false

fix: Pyright型エラー7個を修正してCI通過
  src/core/analyzer/code_locator.py
  src/core/analyzer/type_classifier.py
  src/core/doc_generators/test_catalog_generator.py
  src/core/utils/type_parsing.py
Due: radon, interrogate

fix: utils/配下のB007エラー3個を修正
  utils/graph_networkx_adapter.py
Due: radon

fix: type_inferrer.pyから未使用のmodule_nameパラメータを削除
  src/core/analyzer/type_inferrer.py
Due: radon, interrogate

docs: ワークフロー文書の標準化を完了
  .claude/commands/pr-review/review-task-workflow.md
Due: none

style: 関数シグネチャの行の長さを88文字以内に修正
  scripts/test/test_generic_types.py
Due: radon

refactor: **kwargs型をAnyからobjectに変更して型安全性を向上
  src/core/doc_generators/models.py
  src/core/doc_generators/protocols.py
Due: radon, interrogate

style: フォーマット文字列内の全角括弧を半角に修正
  src/core/analyzer/strategies.py
Due: radon, interrogate

refactor(doc-generators): エラーメッセージに詳細な説明を追加してDXを改善
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

style: 未使用パラメータにアンダースコア接頭辞を追加
  scripts/test/test_generic_types.py
Due: radon

refactor(doc-generators): TocEntryをBaseModelに変更しPositiveIntを使用
  src/core/doc_generators/types.py
Due: radon, interrogate

i18n: ヘッダーを日本語に統一
  src/core/analyzer/type_ignore_reporter.py
Due: radon, interrogate

style: 長さチェックをPythonicな真偽値チェックに置き換え
  src/core/output_manager.py
Due: radon, interrogate

refactor: **kwargsの型をAnyからobjectに変更してANN401警告を解消
  src/core/doc_generators/graph_doc_generator.py
  src/core/doc_generators/type_doc_generator.py
Due: radon, interrogate

refactor: Protocolから不要な@abstractmethodデコレータを削除
  src/core/doc_generators/protocols.py
Due: radon, interrogate

revert: UI項目名を英語に戻す（プロジェクトポリシー準拠）
  src/core/analyzer/type_ignore_reporter.py
Due: radon, interrogate

fix: UI項目名を英語に統一（プロジェクトポリシー準拠）
  src/core/analyzer/quality_reporter.py
  src/core/analyzer/type_reporter.py
Due: radon, interrogate

fix: CLIコマンドのUI項目名を英語に統一
  src/cli/commands/check.py
  src/cli/commands/docs.py
  src/cli/commands/yaml.py
  src/cli/main.py
Due: radon, interrogate

fix: RUF001/RUF003対応 - pylay_config.pyの全角記号を半角に修正
  src/core/schemas/pylay_config.py
Due: radon, interrogate

fix: target_dirsにsrc/infer_deps.pyを追加
  pyproject.toml
Due: safety

fix: TRY003対応 - カスタム例外クラスの定義
  src/core/analyzer/base.py
Due: radon, interrogate

fix: RUF001対応 - types.pyのField description文字列で全角括弧を半角に修正
  src/core/schemas/types.py
Due: radon, interrogate

fix: RUF001対応 - check.pyのhelp文字列で全角括弧を半角に修正
  src/cli/commands/check.py
Due: radon, interrogate

fix: PR #91レビュー対応 - 3件のHIGH/CRITICALタスク完了
  AGENTS.md
  docs/features/type-ignore-enhancements.md
  scripts/generate_type_docs.py
Due: radon

fix: IndexError protection for empty edge list
  utils/graph_networkx_adapter.py
Due: radon

refactor: Protocolから@abstractmethodデコレータを削除
  src/core/converters/protocols.py
Due: radon, interrogate

test: テストメッセージを日本語に更新
  tests/test_quality_reporter.py
Due: radon

fix: isinstance guard for raw_yaml_data
  src/cli/commands/types.py
Due: radon, interrogate

refactor: type: ignoreを削除してgetattrに置き換え
  src/core/utils/type_parsing.py
Due: radon, interrogate

refactor: 除外パターンをPath.match()によるglobマッチに変更
  src/core/doc_generators/test_catalog_generator.py
Due: radon, interrogate

refactor: mkdirをキーワード専用引数に変更
  src/core/doc_generators/protocols.py
Due: radon, interrogate

refactor: 未使用パラメータfile_pathを削除
  src/core/converters/ast_dependency_extractor.py
Due: radon, interrogate

feat: 型安全性向上とコード品質改善
  PRD.md
  src/cli/commands/types.py
  src/core/analyzer/code_locator.py
  src/core/analyzer/models.py
  src/core/analyzer/type_classifier.py
  src/core/analyzer/type_inferrer.py
  src/core/analyzer/type_level_models.py
  src/core/analyzer/type_upgrade_analyzer.py
  src/core/converters/models.py
  src/core/converters/mypy_type_extractor.py
  src/core/doc_generators/models.py
  src/core/doc_generators/test_catalog_generator.py
  src/core/doc_generators/type_doc_generator.py
  src/core/project_scanner.py
  utils/graph_networkx_adapter.py
Due: radon, interrogate

fix: PRレビュータスク完了 - ワークフロー標準化とコード改善
  .cursor/commands/pr-review/review-task-workflow.md
  pyproject.toml
  src/core/analyzer/code_locator.py
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/type_inferrer.py
  src/core/analyzer/type_level_analyzer.py
  src/core/analyzer/type_level_models.py
  src/core/analyzer/type_reporter.py
  src/core/doc_generators/graph_doc_generator.py
  src/core/doc_generators/models.py
  src/core/doc_generators/type_doc_generator.py
  src/core/schemas/graph.py
  tests/test_migrations.py
  uv.lock
Due: radon, interrogate, safety

castによる型変換をPydanticのTypeAdapterを使った実行時検証に置き換える (including all related implementation steps)
  src/core/doc_generators/graph_doc_generator.py
Due: radon, interrogate

target_dirsの変更を["src/core", "src/cli"]に戻す
  pyproject.toml
Due: safety

fix: PR review tasks completion
  docs/features/type-ignore-enhancements.md
  src/cli/commands/check.py
  src/core/analyzer/code_locator.py
  src/core/analyzer/exceptions.py
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/models.py
  src/core/analyzer/quality_checker.py
  src/core/analyzer/quality_models.py
  src/core/analyzer/quality_reporter.py
  src/core/analyzer/type_classifier.py
  src/core/analyzer/type_ignore_reporter.py
  src/core/analyzer/type_inferrer.py
  src/core/analyzer/type_reporter.py
  src/core/analyzer/type_statistics.py
  src/core/analyzer/type_upgrade_analyzer.py
  src/core/converters/extract_deps.py
  src/core/converters/mypy_type_extractor.py
  src/core/doc_generators/config.py
  src/core/doc_generators/models.py
  src/core/doc_generators/type_doc_generator.py
  src/core/doc_generators/type_inspector.py
  src/core/doc_generators/types.py
  src/core/doc_generators/yaml_doc_generator.py
  src/core/output_manager.py
  src/core/project_scanner.py
  src/core/schemas/graph.py
  src/core/utils/io_helpers.py
  tests/test_code_locator.py
  tests/test_config_integrity.py
  tests/test_issues_analyzer.py
  tests/test_newtype_edge_cases.py
  tests/test_newtype_pattern_detection.py
  tests/test_quality_checker.py
  tests/test_utils_ref_resolver.py
  typings/pydot/__init__.pyi
  utils/graph_networkx_adapter.py
Due: radon, interrogate

Fix PR #91 review tasks: final lint, type, tests, quality checks all passed
  .cursor/commands/pr-review/review-task-workflow.md
  pyproject.toml
  src/cli/commands/check.py
  src/core/analyzer/code_locator.py
  src/core/analyzer/type_classifier.py
  src/core/analyzer/type_inferrer.py
  src/core/converters/path_mirror.py
  src/core/doc_generators/config.py
  src/core/doc_generators/models.py
  src/core/doc_generators/test_catalog_generator.py
  src/core/schemas/pylay_config.py
  tests/test_cli.py
  tests/test_config_integrity.py
  tests/test_lay_file_generation.py
  utils/graph_networkx_adapter.py
Due: radon, interrogate, safety

fix: TypeDocConfigクラスの後方互換性を復元
  src/core/doc_generators/config.py
Due: radon, interrogate

Path conditions:
  radon: any of: \.py$
  interrogate: any of: ^src/.*\.py$
  safety: any of: ^(pyproject\.toml|uv\.lock)$
