Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

.pre-commit-config.yaml:

repos:
  # Ruff (高速なPythonリンター)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      # Ruff のリンター実行
      - id: ruff
        args: [--fix]
      # Ruff のフォーマッター実行
      - id: ruff-format

  # mypy (型チェック)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml, pydantic>=2.8.2, pyyaml>=6.0.2, ruamel-yaml>=0.18.6, networkx>=3.3, click>=8.3.0, matplotlib>=3.10.6]
        args: [--config-file=mypy.ini]

  # コードメトリクス（複雑度、保守性）
  - repo: local
    hooks:
      - id: radon
        name: radon (コード複雑度チェック)
        entry: uv run radon
        language: system
        files: \.py$
        args: [cc, -s, --total-average]

  # docstring カバレッジチェック
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate (docstringカバレッジ)
        entry: uv run interrogate
        language: system
        files: ^src/.*\.py$
        args: [--config=pyproject.toml]

  # 依存関係のセキュリティチェック
  # 注: このフックは厳格なCI環境（GitHub Actions等）で実行されるため、
  #     pre-commitフックでは警告のみ表示し、CIで必ず検証します。
  #     CI設定: .github/workflows/ci.yml の safety-check ジョブ
  - repo: local
    hooks:
      - id: safety
        name: safety (依存関係脆弱性チェック)
        entry: bash -c 'uv run safety check'
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

  # コード重複チェック
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

feat: ORM/フレームワーク統合ガイドの完全実装 (Issue #54)
  README.md
  docs/guides/framework-patterns.md
  docs/guides/orm-integration.md
  src/cli/commands/init.py
  tests/test_init_command.py
Due: radon, interrogate

feat: YAMLスキーマ管理とpylay出力先の統一 (Issue #54)
  .gitignore
  docs/pylay/schemas/README.md
  docs/pylay/schemas/pylay_config.lay.yaml
  docs/pylay/schemas/yaml_spec.lay.yaml
  pyproject.toml
Due: safety

feat: pylay yamlコマンドの強化 - ファイル/ディレクトリ/pyproject.toml自動判定機能 (Issue #54)
  docs/pylay/src/core/schemas/graph.lay.yaml
  docs/pylay/src/core/schemas/pylay_config.lay.yaml
  docs/pylay/src/core/schemas/yaml_spec.lay.yaml
  src/cli/commands/yaml.py
  src/cli/main.py
Due: radon, interrogate

refactor: 型定義検出を拡張 - type/NewType/dataclass/Enumに対応 (Issue #54)
  src/cli/commands/yaml.py
Due: radon, interrogate

fix: .gitignoreパターン改善 - YAML型仕様ファイルを正しく管理対象に (Issue #54)
  .gitignore
Due: none

test: pylay yamlコマンドの統合テスト追加 (Issue #54)
  tests/test_yaml_command_integration.py
Due: radon

docs: README.mdにYAML型定義管理の新セクション追加 (Issue #54)
  README.md
Due: none

feat: YAMLメタデータセクションの完全実装 (Issue #54完了)
  src/cli/commands/yaml.py
  tests/test_yaml_command_integration.py
Due: radon, interrogate

docs: Issue #54の追加ドキュメント整備を完了
  docs/guides/django-style-structure.md
  docs/guides/migration-guide.md
  docs/guides/types-creation-guide.md
  docs/guides/yaml-management-guide.md
  docs/pylay/schemas/README.md
Due: none

refactor: project-analyzeコマンドを統計・品質分析専用に変更
  src/cli/commands/project_analyze.py
Due: radon, interrogate

refactor: project-analyzeコマンドをstatsに改名し、--dry-runオプションを削除
  src/cli/commands/project_analyze.py
  src/cli/main.py
Due: radon, interrogate

refactor: statsコマンドを削除し、analyze-typesに統合
  src/cli/commands/project_analyze.py
  src/cli/main.py
Due: radon, interrogate

feat: 診断系コマンドをpylay checkに統合
  src/cli/commands/check.py
  src/cli/main.py
Due: radon, interrogate

refactor: 診断コマンドをpylay checkに完全統合し個別コマンドを削除
  src/cli/commands/analyze_types.py
  src/cli/commands/check.py
  src/cli/commands/diagnose_type_ignore.py
  src/cli/commands/quality.py
  src/cli/main.py
Due: radon, interrogate

docs: 診断コマンド統合に伴いドキュメントとMakefileを更新
  Makefile
  README.md
  docs/features/diagnose-type-ignore.md
  docs/features/quality-check.md
  docs/features/type-analysis-details.md
Due: none

test: 削除されたコマンドのテストを修正・削除してCIエラーを解決
  tests/test_analyze_types_details.py
  tests/test_cli.py
  tests/test_cli_quality.py
  tests/test_config_integrity.py
  tests/test_project_analyze.py
Due: radon

feat: ディレクトリレベルでの型集約（schema.lay.yaml方式）を実装
  docs/pylay/schemas/yaml_spec.lay.yaml
  docs/pylay/src/core/schemas/graph.lay.yaml
  docs/pylay/src/core/schemas/pylay_config.lay.yaml
  docs/pylay/src/core/schemas/schema.lay.yaml
  docs/pylay/src/core/schemas/yaml_spec.lay.yaml
  docs/pylay/src/schema.lay.yaml
  src/cli/commands/yaml.py
  tests/test_yaml_command_integration.py
Due: radon, interrogate

feat: YAML複数行文字列のヒアドキュメント形式出力とフォーマット改善
  docs/pylay/src/core/schemas/schema.lay.yaml
  src/core/converters/type_to_yaml.py
Due: radon, interrogate

fix: YAMLパース時に_metadataキーを除外
  src/core/converters/yaml_to_type.py
Due: radon, interrogate

docs: プロジェクト全体のYAML型定義を更新（ドッグフーディング）
  docs/pylay/src/schema.lay.yaml
Due: none

feat: YAML/Markdownの出力先をPythonソースと同じディレクトリに変更
  docs/pylay/schemas/README.md
  docs/pylay/src/core/schemas/schema.lay.yaml
  docs/pylay/src/schema.lay.yaml
  src/cli/commands/docs.py
  src/cli/commands/init.py
  src/cli/commands/yaml.py
  src/cli/main.py
  src/core/schemas/pylay_config.py
  tests/test_config_integrity.py
  tests/test_init_command.py
  tests/test_lay_file_generation.py
  tests/test_yaml_command_integration.py
Due: radon, interrogate

chore: プロジェクト全体のYAML型定義を生成（ドッグフーディング）
  src/schema.lay.yaml
Due: none

feat: 階層ごとにschema.lay.yamlを生成するように変更
  src/cli/commands/yaml.py
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
  tests/test_yaml_command_integration.py
Due: radon, interrogate

fix: None型をNoneTypeではなくnullとして変換
  src/core/analyzer/schema.lay.yaml
  src/core/converters/type_to_yaml.py
  src/core/schemas/schema.lay.yaml
Due: radon, interrogate

feat: AST-based import extraction とラウンドトリップ変換の完全実装
  .gitignore
  Makefile
  src/cli/commands/types.py
  src/cli/commands/yaml.py
  src/core/analyzer/schema.lay.yaml
  src/core/converters/type_to_yaml.py
  src/core/converters/yaml_to_type.py
  src/core/schemas/schema.lay.yaml
  src/core/schemas/yaml_spec.py
  tests/test_type_management.py
Due: radon, interrogate

chore: ruffの行長制限を88から120文字に変更
  pyproject.toml
Due: safety

fix: from __future__ import annotations追加で前方参照を有効化
  src/cli/commands/types.py
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
Due: radon, interrogate

feat: トポロジカルソートによる型定義の依存関係順出力
  src/cli/commands/types.py
Due: radon, interrogate

feat: Pydantic Field制約（ge, le, gt, lt等）の完全サポート
  src/core/analyzer/schema.lay.yaml
  src/core/converters/type_to_yaml.py
  src/core/schemas/schema.lay.yaml
Due: radon, interrogate

fix: Field()パラメータの順序を標準的な順序に統一
  src/cli/commands/types.py
  src/core/analyzer/schema.lay.yaml
  src/core/schemas/schema.lay.yaml
Due: radon, interrogate

docs: OutputPath型の定義を標準パターンに修正
  docs/guides/types-creation-guide.md
Due: none

docs: Count型の定義を標準ファクトリパターンに修正
  docs/guides/types-creation-guide.md
Due: none

docs: ドキュメント構造の整理と最適化
  AGENTS.md
  CLAUDE.md
  README.md
  docs/README.md
  docs/core/graph_types.md
  docs/reference/type-detection-rules.md
  docs/static-type-index-guide.md
  docs/types/README.md
  docs/types/containers.md
  docs/types/primitives.md
  docs/v1/type_yaml_mapping.md
Due: none

docs: CLIコマンドをpylay qualityからpylay check --focus qualityに更新
  docs/guides/orm-integration.md
Due: none

docs: 品質チェックセクションのMarkdownフォーマットを修正
  README.md
Due: none

docs: CLAUDE.mdとAGENTS.mdにdocs参照ルールを追加
  AGENTS.md
  CLAUDE.md
Due: none

docs: type: ignore診断セクションのMarkdownフォーマットを修正
  README.md
Due: none

fix: sys.modulesとsys.pathのクリーンアップを追加して同名モジュール再利用を防止
  src/cli/commands/yaml.py
Due: radon, interrogate

refactor: _load_config()を PylayConfig.from_pyproject_toml() に置き換え
  src/cli/commands/check.py
Due: radon, interrogate

docs: --no-statsオプション記述を削除し実装ファイル参照を修正
  docs/features/type-analysis-details.md
Due: none
