Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

.pre-commit-config.yaml:

repos:
  # Ruff (高速なPythonリンター)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      # Ruff のリンター実行
      - id: ruff
        args: [--fix]
      # Ruff のフォーマッター実行
      - id: ruff-format

  # mypy (型チェック)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml, pydantic>=2.8.2, pyyaml>=6.0.2, ruamel-yaml>=0.18.6, networkx>=3.3, click>=8.3.0, matplotlib>=3.10.6]
        args: [--config-file=mypy.ini]

  # コードメトリクス（複雑度、保守性）
  - repo: local
    hooks:
      - id: radon
        name: radon (コード複雑度チェック)
        entry: uv run radon
        language: system
        files: \.py$
        args: [cc, -s, --total-average]

  # docstring カバレッジチェック
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate (docstringカバレッジ)
        entry: uv run interrogate
        language: system
        files: ^src/.*\.py$
        args: [--config=pyproject.toml]

  # 依存関係のセキュリティチェック
  # 注: このフックは厳格なCI環境（GitHub Actions等）で実行されるため、
  #     pre-commitフックでは警告のみ表示し、CIで必ず検証します。
  #     CI設定: .github/workflows/ci.yml の safety-check ジョブ
  - repo: local
    hooks:
      - id: safety
        name: safety (依存関係脆弱性チェック)
        entry: bash -c 'uv run safety check'
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

  # コード重複チェック
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

refactor: 型推論の信頼度計算ロジックを実装
  src/core/analyzer/type_inferrer.py
Due: radon, interrogate

refactor: 型推論の信頼度計算を動的計算に改善
  src/core/analyzer/type_inferrer.py
  tests/test_confidence_computation.py
Due: radon, interrogate

refactor: mypy additional_dependenciesから不要なmatplotlibを削除
  .pre-commit-config.yaml
Due: none

refactor: 旧型推論実装を削除し新Analyzerに統合
  src/cli/commands/project_analyze.py
  src/core/converters/__init__.py
  src/core/converters/ast_dependency_extractor.py
  src/core/converters/infer_types.py
  tests/test_type_inference.py
Due: radon, interrogate

fix: Pyrightの型エラー25個を解消してmypy+Pyright体制を完成
  AGENTS.md
  Makefile
  pyrightconfig.json
  src/core/analyzer/ast_visitors.py
  src/core/analyzer/dependency_extractor.py
  src/core/analyzer/graph_processor.py
  src/core/analyzer/models.py
  src/core/analyzer/type_inferrer.py
  typings/pydot/__init__.pyi
Due: radon, interrogate

test: pydot/Graphviz未インストール環境でテストをスキップするよう修正
  tests/test_analyzer.py
Due: radon

fix: Pyrightの型エラー60件を修正しmypy+Pyrightの厳格な型体制を強化
  src/cli/commands/generate_docs.py
  src/cli/commands/project_analyze.py
  src/cli/commands/yaml_to_type.py
  src/cli/main.py
  src/core/analyzer/base.py
  src/core/analyzer/dependency_extractor.py
  src/core/analyzer/strategies.py
  src/core/analyzer/type_inferrer.py
  src/core/converters/ast_dependency_extractor.py
  src/core/converters/extract_deps.py
  src/core/converters/mypy_type_extractor.py
  src/core/converters/yaml_to_type.py
  src/core/doc_generators/type_inspector.py
  src/core/doc_generators/yaml_doc_generator.py
  src/core/output_manager.py
Due: radon, interrogate

refactor: 未使用コード削除でPyrightエラーを60→58個に削減
  src/cli/main.py
  src/core/converters/extract_deps.py
  src/core/converters/mypy_type_extractor.py
  src/core/converters/yaml_to_type.py
  src/core/doc_generators/yaml_doc_generator.py
Due: radon, interrogate

fix: Pyright型エラー60件を全て解消（未使用コード削除とtype ignore追加）
  src/cli/main.py
  src/core/converters/ast_dependency_extractor.py
  src/core/converters/mypy_type_extractor.py
  src/core/converters/type_to_yaml.py
  src/core/doc_generators/graph_doc_generator.py
  src/core/output_manager.py
  src/core/project_scanner.py
  src/core/schemas/analyzer_types.py
  src/core/schemas/pylay_config.py
  src/core/schemas/yaml_type_spec.py
  src/core/utils/type_parsing.py
Due: radon, interrogate

feat: InferenceConfig.from_pylay_configに無効値警告ロガーを追加
  src/core/analyzer/models.py
Due: radon, interrogate

style: ruffによるインポート順序の自動修正
  src/cli/commands/yaml_to_type.py
Due: radon, interrogate

refactor: TypedDictでget_absolute_pathsの戻り値型を明示化し型安全性を向上
  src/cli/commands/generate_docs.py
  src/cli/commands/project_analyze.py
  src/core/analyzer/type_inferrer.py
  src/core/output_manager.py
  src/core/project_scanner.py
  src/core/schemas/pylay_config.py
Due: radon, interrogate

refactor: Analyzer ABC を abc_base.py に分離し循環インポートを完全解消
  src/core/analyzer/abc_base.py
  src/core/analyzer/base.py
  src/core/analyzer/dependency_extractor.py
  src/core/analyzer/protocols.py
  src/core/analyzer/type_inferrer.py
Due: radon, interrogate

fix: Pyrightの冗長な型チェック警告を全て修正（6件→1件）
  src/cli/commands/yaml_to_type.py
  src/core/converters/extract_deps.py
  src/core/doc_generators/type_doc_generator.py
Due: radon, interrogate

refactor: extract_deps関数の戻り値型をTypeDependencyGraphに統一しtype ignoreを削除
  pyrightconfig.json
  src/cli/main.py
  src/core/converters/extract_deps.py
  tests/test_dependency_extraction.py
  tests/test_visualization.py
Due: radon, interrogate

refactor: Pydantic Pyrightプラグインを有効化しtype ignoreコメントを削除
  src/core/converters/type_to_yaml.py
Due: radon, interrogate

refactor: graph_doc_generatorのPyright抑制を削除し型安全性を向上
  src/core/doc_generators/graph_doc_generator.py
  src/core/schemas/graph_types.py
Due: radon, interrogate

refactor: AbsolutePathsDictを活用しtype ignoreとassertを削除
  src/core/output_manager.py
  src/core/project_scanner.py
Due: radon, interrogate

refactor: 明示的な__all__宣言とtype ignore削除で再エクスポートを改善
  src/core/schemas/analyzer_types.py
  src/core/utils/type_parsing.py
Due: radon, interrogate

fix: Pyright型エラー6件を修正し、全テストをパス
  src/cli/commands/project_analyze.py
  src/cli/main.py
  src/core/converters/type_to_yaml.py
  src/core/output_manager.py
  src/core/utils/type_parsing.py
  tests/test_forward_ref.py
  tests/test_generic_types.py
  tests/test_visualization.py
Due: radon, interrogate

fix: reportMissingModuleSourceを無効化しPyright警告を完全に解消
  pyrightconfig.json
Due: none

docs: type_parsing.pyのインポートに使用箇所の説明コメントを追加
  src/core/utils/type_parsing.py
Due: radon, interrogate

fix: Pyright型エラーを型安全に修正し全CIチェックを通過
  src/cli/commands/generate_docs.py
  src/cli/main.py
  src/core/analyzer/abc_base.py
  src/core/analyzer/models.py
  src/core/converters/extract_deps.py
  src/core/output_manager.py
  src/core/schemas/graph_types.py
  src/core/utils/type_parsing.py
Due: radon, interrogate

fix: pyrightconfig.jsonにvenvパス設定を追加してCI環境の型チェックを修正
  pyrightconfig.json
Due: none

refactor: RelationType列挙型を統合し重複メンバーを削除
  src/core/converters/extract_deps.py
  src/core/schemas/analyzer_types.py
  src/core/schemas/graph_types.py
Due: radon, interrogate

fix: 廃止されたreportOverlappingOverloadsオプションを削除
  pyrightconfig.json
Due: none

fix: Pyright CLI非対応の設定オプションを削除
  pyrightconfig.json
Due: none

fix: pyrightconfig.jsonの非対応オプションを削除してIDE警告を解消 (#13)
  pyrightconfig.json
Due: none

docs: 型定義ルールを刷新しAnnotated+AfterValidatorをNewType代替として推奨
  .cursor/rules/python-type-annotations.mdc
  AGENTS.md
  CLAUDE.md
  docs/typing-rule.md
Due: none

refactor: Optional/Union型をPython 3.13標準表記に置き換え
  scripts/generate_dependency_graph.py
  scripts/test/test_generic_types.py
  src/core/analyzer/ast_visitors.py
  src/core/doc_generators/graph_doc_generator.py
  src/core/doc_generators/type_doc_generator.py
  src/core/output_manager.py
  src/core/schemas/graph_types.py
  src/core/schemas/yaml_type_spec.py
Due: radon, interrogate

fix: 残っていたOptional型の置き換え漏れを修正
  src/cli/main.py
  src/core/converters/ast_dependency_extractor.py
Due: radon, interrogate

fix: graph_processor.pyのUnion型を標準表記に置き換え
  src/core/analyzer/graph_processor.py
Due: radon, interrogate

refactor: コード生成ツールの出力をPython 3.13標準表記に変更
  src/cli/commands/yaml_to_type.py
Due: radon, interrogate

fix: E501行長エラーとその他のコード品質問題を修正
  examples/sample_module.py
  scripts/generate_dependency_graph.py
  src/__init__.py
  src/cli/analyze_issues.py
  src/cli/commands/generate_docs.py
  src/cli/commands/project_analyze.py
  src/cli/commands/type_to_yaml.py
  src/cli/main.py
  src/core/analyzer/ast_visitors.py
  src/core/analyzer/base.py
  src/core/analyzer/graph_processor.py
  src/core/analyzer/strategies.py
  src/core/analyzer/type_inferrer.py
  src/core/converters/extract_deps.py
  src/core/converters/type_to_yaml.py
  src/core/doc_generators/config.py
  src/core/doc_generators/graph_doc_generator.py
  src/core/doc_generators/type_doc_generator.py
  src/core/output_manager.py
  src/core/schemas/graph_types.py
  src/core/schemas/pylay_config.py
  src/core/schemas/yaml_type_spec.py
  tests/test_analyzer.py
  tests/test_generate_test_docs.py
  tests/test_generate_type_docs.py
  tests/test_project_analyze.py
  tests/test_refactored_generate_test_docs.py
  tests/test_type_management.py
  utils/graph_networkx_adapter.py
Due: radon, interrogate

fix: pyrightの未使用import警告を抑制
  src/core/schemas/graph_types.py
Due: radon, interrogate

refactor: primitive型をドメイン型に変換し型安全性を向上
  src/core/analyzer/ast_visitors.py
  src/core/analyzer/dependency_extractor.py
  src/core/analyzer/models.py
  src/core/analyzer/strategies.py
  src/core/analyzer/type_inferrer.py
  src/core/converters/ast_dependency_extractor.py
  src/core/converters/mypy_type_extractor.py
  src/core/doc_generators/config.py
  src/core/doc_generators/graph_doc_generator.py
  src/core/schemas/graph_types.py
  src/core/schemas/pylay_config.py
  src/core/schemas/types.py
  tests/test_analyzer.py
Due: radon, interrogate

refactor: 残りのprimitive型をドメイン型に完全変換
  Makefile
  src/core/analyzer/models.py
  src/core/schemas/analyzer_types.py
  src/core/schemas/pylay_config.py
  src/core/schemas/types.py
  src/core/schemas/yaml_type_spec.py
Due: radon, interrogate

perf: GraphMetadataインポートをモジュールレベルに移動
  src/core/analyzer/ast_visitors.py
Due: radon, interrogate
