Repository biwakonbu/pylay: changes, and which pre-commit hooks are due for each by the changed paths.
All: radon, interrogate, safety

.pre-commit-config.yaml:

repos:
  # Ruff (高速なPythonリンター)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      # Ruff のリンター実行
      - id: ruff
        args: [--fix]
      # Ruff のフォーマッター実行
      - id: ruff-format

  # mypy (型チェック)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies: [types-pyyaml, pydantic>=2.8.2, pyyaml>=6.0.2, ruamel-yaml>=0.18.6, networkx>=3.3, click>=8.3.0, matplotlib>=3.10.6]
        args: [--config-file=mypy.ini]

  # コードメトリクス（複雑度、保守性）
  - repo: local
    hooks:
      - id: radon
        name: radon (コード複雑度チェック)
        entry: uv run radon
        language: system
        files: \.py$
        args: [cc, -s, --total-average]

  # docstring カバレッジチェック
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate (docstringカバレッジ)
        entry: uv run interrogate
        language: system
        files: ^src/.*\.py$
        args: [--config=pyproject.toml]

  # 依存関係のセキュリティチェック
  # 注: このフックは厳格なCI環境（GitHub Actions等）で実行されるため、
  #     pre-commitフックでは警告のみ表示し、CIで必ず検証します。
  #     CI設定: .github/workflows/ci.yml の safety-check ジョブ
  - repo: local
    hooks:
      - id: safety
        name: safety (依存関係脆弱性チェック)
        entry: bash -c 'uv run safety check'
        language: system
        files: ^(pyproject\.toml|uv\.lock)$
        pass_filenames: false

  # コード重複チェック
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: debug-statements

fix: PEP 484準拠のNewType定義に全面修正し、pyright型エラー65件を完全解決
  src/core/analyzer/__init__.py
  src/core/analyzer/ast_visitors.py
  src/core/analyzer/code_locator.py.bak
  src/core/analyzer/dependency_extractor.py
  src/core/analyzer/models.py
  src/core/analyzer/strategies.py
  src/core/analyzer/type_ignore_analyzer.py
  src/core/analyzer/type_inferrer.py
  src/core/analyzer/types.py
  src/core/converters/ast_dependency_extractor.py
  src/core/converters/mypy_type_extractor.py
  src/core/converters/types.py
  src/core/doc_generators/types.py
  src/core/schemas/pylay_config.py
  src/core/schemas/types.py
Due: radon, interrogate

chore: 不要なコードとファイルをクリーンアップ
  .gitignore
  src/core/analyzer/__init__.py
  src/core/analyzer/code_locator.py.bak
Due: radon, interrogate

fix: PylayConfigに末尾スラッシュ正規化バリデーターを追加してCIテスト失敗を修正
  src/core/schemas/pylay_config.py
Due: radon, interrogate

feat: 品質チェック機能のテストケース追加と検証を完了 (Issue #46)
  tests/test_cli_quality.py
  tests/test_quality_checker.py
  tests/test_quality_reporter.py
Due: radon

feat: 型定義パターンをNewType+ファクトリ関数に移行 (Issue #48)
  src/core/analyzer/improvement_templates.py
  src/core/converters/types.py
  src/core/schemas/types.py
Due: radon, interrogate

feat: NewType直接使用の検出機能と非推奨箇所の修正 (Issue #48 Phase 4-5)
  src/core/analyzer/ast_visitors.py
  src/core/analyzer/dependency_extractor.py
  src/core/analyzer/factory_usage_checker.py
  src/core/analyzer/models.py
  src/core/analyzer/strategies.py
  src/core/analyzer/type_ignore_analyzer.py
  src/core/analyzer/type_inferrer.py
  src/core/converters/ast_dependency_extractor.py
  src/core/converters/mypy_type_extractor.py
  tests/test_factory_usage_checker.py
Due: radon, interrogate

docs: 型定義レベルの分類ドキュメントを更新し、Level 2の3点セット要件を明確化 (Issue #48 BETTER要件)
  docs/typing-rule.md
  src/cli/commands/quality.py
Due: radon, interrogate

fix: converters/types.pyのMaxDepth二重定義を修正し、schemas/types.pyから再利用
  src/core/converters/types.py
Due: radon, interrogate

feat: 型定義パターンをNewType+ファクトリ関数に移行し、非推奨使用を完全排除 (Issue #48) (#49)
  docs/typing-rule.md
  src/cli/commands/quality.py
  src/core/analyzer/ast_visitors.py
  src/core/analyzer/dependency_extractor.py
  src/core/analyzer/factory_usage_checker.py
  src/core/analyzer/improvement_templates.py
  src/core/analyzer/models.py
  src/core/analyzer/strategies.py
  src/core/analyzer/type_ignore_analyzer.py
  src/core/analyzer/type_inferrer.py
  src/core/converters/ast_dependency_extractor.py
  src/core/converters/mypy_type_extractor.py
  src/core/converters/types.py
  src/core/schemas/types.py
  tests/test_factory_usage_checker.py
Due: radon, interrogate

release: バージョン0.4.0リリース
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: safety

fix: CLIバージョン表示を動的に取得するように修正
  src/cli/main.py
Due: radon, interrogate

refactor: 不要なバージョンフォールバック処理を削除
  src/cli/main.py
Due: radon, interrogate

feat: CLIコマンドを1語形式に統一 (Issue #50)
  README.md
  src/cli/commands/docs.py
  src/cli/commands/types.py
  src/cli/commands/yaml.py
  src/cli/main.py
Due: radon, interrogate

refactor: 重複コマンドを削除し、1語コマンドに完全統一
  README.md
  src/cli/main.py
  tests/test_cli.py
Due: radon, interrogate

docs: CHANGELOG.mdに破壊的変更を記載 (Issue #50)
  CHANGELOG.md
Due: none

feat: CLIコマンドを1語形式に統一 (Issue #50) (#52)
  CHANGELOG.md
  README.md
  src/cli/commands/docs.py
  src/cli/commands/types.py
  src/cli/commands/yaml.py
  src/cli/main.py
  tests/test_cli.py
Due: radon, interrogate

feat: PylayConfigに.lay.py/.lay.yaml方式の設定を追加 (Issue #51)
  src/core/schemas/pylay_config.py
  tests/test_config_integrity.py
Due: radon, interrogate

feat: .lay.py/.lay.yaml用の警告ヘッダー生成機能を実装 (Issue #51)
  src/core/converters/generation_header.py
  tests/test_generation_header.py
Due: radon, interrogate

feat(cli): .lay.py/.lay.yaml生成機能を実装 (Issue #51)
  src/cli/commands/types.py
  src/cli/commands/yaml.py
  tests/test_lay_file_generation.py
Due: radon, interrogate

feat(converters): クリーン再生成機能を実装 (Issue #51)
  src/core/converters/clean_regeneration.py
  tests/test_clean_regeneration.py
  tests/test_lay_file_generation.py
Due: radon, interrogate

feat(converters): パッケージ構造ミラーリング機能を実装 (Issue #51)
  src/core/converters/path_mirror.py
  tests/test_path_mirror.py
Due: radon, interrogate

feat(cli): pylay init コマンドを実装 (Issue #51)
  src/cli/commands/init.py
  src/cli/main.py
  tests/test_init_command.py
Due: radon, interrogate

docs: .lay.*ファイルとクリーン再生成のガイドを追加 (Issue #51)
  docs/guides/clean-regeneration.md
  docs/guides/lay-file-workflow.md
Due: none

test: skippedテストを実装し完全なテストカバレッジを達成 (Issue #51)
  tests/test_lay_file_generation.py
Due: radon

feat: _metadataセクション実装でIssue #51を100%完了
  src/cli/commands/yaml.py
  tests/test_lay_file_generation.py
Due: radon, interrogate

fix: 標準出力サポートを実装してCLIコマンドのデフォルト動作を修正
  src/cli/commands/types.py
  src/cli/commands/yaml.py
Due: radon, interrogate

except句をFileNotFoundErrorのみに変更し、ValueErrorを除外して設定エラーを表面化させる
  .claude/commands/pr-review/review-task-workflow.md
Due: none

docs: TestLayYamlGenerationクラスのdocstringを詳細化
  tests/test_lay_file_generation.py
Due: radon

docs: Markdownlint違反を修正（MD031/MD040/MD032）
  docs/guides/clean-regeneration.md
Due: none

fix: PR #53レビュー対応 - 標準出力サポートと設定エラー処理改善
  src/cli/commands/types.py
  src/cli/commands/yaml.py
  tests/test_lay_file_generation.py
Due: radon, interrogate

docs: TestLayPyGenerationクラスのdocstringを詳細化
  tests/test_lay_file_generation.py
Due: radon

test: CLI initコマンドのoutput設定統合テストを追加
  tests/test_init_command.py
Due: radon

test: CLI initコマンドのoutput設定統合テストを追加
  tests/test_lay_file_generation.py
Due: radon

docs: Markdownlint違反を修正 - コードフェンス前に空行を追加
  .claude/commands/pr-review/review-task-workflow.md
Due: none

test: pytestインポートと型アノテーションを追加
  tests/test_lay_file_generation.py
Due: radon

docs: Markdownlint違反を修正 - コードフェンスに言語指定を追加
  docs/guides/lay-file-workflow.md
Due: none

fix: pyrightの型チェックエラーを修正
  src/cli/commands/yaml.py
Due: radon, interrogate

Issue #51: .lay.py/.lay.yaml方式の完全実装とDjango風パッケージ構造への移行 (#53)
  .claude/commands/pr-review/review-task-workflow.md
  docs/guides/clean-regeneration.md
  docs/guides/lay-file-workflow.md
  src/cli/commands/init.py
  src/cli/commands/types.py
  src/cli/commands/yaml.py
  src/cli/main.py
  src/core/converters/clean_regeneration.py
  src/core/converters/generation_header.py
  src/core/converters/path_mirror.py
  src/core/schemas/pylay_config.py
  tests/test_clean_regeneration.py
  tests/test_config_integrity.py
  tests/test_generation_header.py
  tests/test_init_command.py
  tests/test_lay_file_generation.py
  tests/test_path_mirror.py
Due: radon, interrogate

release: バージョン0.5.0リリース
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: safety
